<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <link rel="shortcut icon" href="J:\MY PJTS\flask\static\images\favicon.png" type="image/x-icon">

  <title>Paspark</title>

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href=./static/css/bootstrap.css>

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet">

  <!-- nice selecy -->
  <link rel="stylesheet" href="./static/css/nice-select.min.css">

  <!--owl slider stylesheet -->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />

  <!-- font awesome style -->
  <link href="./static/css/font-awesome.min.css" rel="stylesheet" />

  <!-- Custom styles for this template -->
  <link href="./static/css/style.css" rel="stylesheet" />
  <!-- responsive style -->
  <link href="./static/css/responsive.css" rel="stylesheet" />
  <style>
    a:link, a:visited {
      background-color: #f44336;
      color: white;
      padding: 14px 25px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
    }
    
    a:hover, a:active {
      background-color: red;
    }
    </style>

</head>

<body>
 
 
 <!-- pricing section -->

 <section class="pricing_section layout_padding">
    <div class="bg-box">
      <img src="images/pricing-bg.jpg" alt="">
    </div>
    <div class="container">
      <div class="heading_container heading_center">
        <h2>
          Our Pricing
        </h2>
      </div>
      <div class="col-xl-10 px-0 mx-auto">
        <div class="row">
          <div class="col-md-6 col-lg-4 mx-auto">
            <div class="box">
              <h4 class="price">
                ₹10
              </h4>
              <h5 class="name">
                Reach within 15 mint
              </h5>
              
              <a href="">
              
              </a>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 mx-auto">
            <div class="box box-center">
              <h4 class="price">
                ₹40
              </h4>
              <h5 class="name">
                Reach within 1hour 
              </h5>
            
             
            </div>
          </div>
          <div class="col-md-6 col-lg-4 mx-auto">
            <div class="box">
              <h4 class="price">
                ₹20
              </h4>
              <h5 class="name">
                Reach within 30 mint
              </h5>
             
              <a href="">
              
              </a>
            </div>
          </div>

        


        </div>
      </div>
    </div>
    
    <div class="pull-right  p-5">

      <a href="{{url_for('views.payment')}}" >Continue</a> 
      
    </div>

    </div>
            
                  </div>
                 
                    
                  </div>


                  <div class="row">
               
                    </div>
                    
                  </div>
                  <div class="row">
                    <div class="col-sm-4">
                      <div class="form-group">
                        <span class="form-label">AMOUNT</span>
                        <select class="form-control">
                          <option>10</option>
                          <option>20</option>
                          <option>40</option>
                        </select>
                        <span class="select-arrow"></span>
                      </div>
                    </div>
                 
                  
                  </div>
  </section>

  
 
  <!-- end pricing section -->

</body>

</html>